*{
    font-family: "Nunito", sans-serif;
}

.center-and-space {
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically (if needed) */
    margin: 0 auto; /* Optionally center the container itself if it has a set width */
    max-width: 1200px; /* Maximum width of the container */
    position: relative;
  }

.info{
  height: 200px;
}

.connect_wallet_button{
    background-color: #724EE9;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
}

.model-containers {
    display: block; /* Ensure the anchor behaves as a block-level element */

    padding: 20px; /* Add some padding inside the border */
    margin: 10px 0; /* Add some margin outside the border for spacing */
    text-decoration: none; /* Remove the underline from the link */
    color: black; /* Set text color */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .model-containers:hover {
    background-color: #f0f0f0; /* Light grey background on hover for visual feedback */
    text-decoration: none; /* Ensure the underline does not reappear on hover */
  }
  
  .models-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three columns */
    grid-gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the grid */
  }

.model-title{
    color: #724EE9;
}

.account-info {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }

.disconnect-button{
    display: inline-block; /* Or 'block' if you prefer it on a new line */
  margin-top: 10px; /* Adjust spacing around the button */
}

.left-align{
    text-align: left;
    padding-top: 120px;
}

table {
  border-collapse: collapse;
  width: 80%;
  font-size: small;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr:hover, td:hover {
  background-color:#f2f2f2;
}

.uploaded_style{
  border: #262626;
  border-width: 10px;
  box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.06);
  padding: 10px;
}

.container-styling{
  background-color: white;
  width: 60vw;
  padding: 30px;
}

.center{
  display: flex;
  justify-content: center;
}

.drop-container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background-color 0.3s , border .3s;
  margin-bottom: 20px;
}

.drop-container:hover {
  background: #eee;
  border-color: #262626;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .3s;
}

.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container.drag-active .drop-title {
  color: #222;
}

.link_button{
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-style: solid;
  border-color: #8c8c8c;
  border-radius: 10px;
  color: #262626;
  font-weight: 400;
}

.register{
  background-color: #bfadd9;
  border-color: #bfadd9;
  transition: background-color 0.3s, color 0.3s;
}

.register:hover{
  background-color: #8b65bf;
  color: white;
}

.form_button{
  width: 100%;
  text-align: center;
  margin: 0px;
}