{%extends 'base.html'%} {%block title%}About{%endblock%} {%block content%}

<main>
  <h2>Description of Masters Project</h2>
  <section class="models-section">
    <p>
      This project is focused on creating a web application that aims to
      decentralize artificial intelligence (AI). By leveraging the principles of
      federated learning and blockchain technology, the goal is to allow
      participants to contribute their data to train a base AI model
      collaboratively. The MNIST dataset, a foundational dataset in the field of
      machine learning, serves as the starting point for this initiative.
      Participants can join the project, contribute their MNIST data for model
      training, and potentially improve the model's accuracy. Improvements to
      the model are validated and then recorded on the blockchain, ensuring
      transparency and integrity in the model's development process.
    </p>
  </section>
</main>

{%endblock%}
