<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Home{%endblock%}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <nav>
          <div>
            <a href="/" class="logo">Omnio</a>
          </div>
          <div>
            <a
              href="/models"
              class="{% if current_path == '/models' %}selected-page{% endif %}"
              >Models</a
            >
            <a
              href="/about"
              class="{% if current_path == '/about' %}selected-page{% endif %}"
              >About</a
            >
          </div>
        </nav>
        <div class="login-section">
          <button class="btn" id="viewAccountBtn">View Account</button>
          <!-- Dropdown content for account and balance -->
          <div class="dropdown-content" id="accountDropdown">
            <p class="account-text">Account:</p>
            <p><span id="account" class="account-subtext">Loading...</span></p>
            <p class="account-text">Balance:</p>
            <p><span id="balance" class="account-subtext">Loading...</span></p>
            <a href="/"
              ><button class="btn" id="viewAccountBtn">
                Disconnect Wallet
              </button></a
            >
          </div>
        </div>
      </div>
    </header>
    <div class="center-and-space">{% block content%} {%endblock%}</div>
    <!-- <script src="{{url_for('static', filename='script.js')}}"></script> -->
    <!-- Include Web3.js library -->
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.0/dist/web3.min.js"></script>

    <!-- Your JavaScript code -->
    <script src="{{ url_for('static', filename='displayInfo.js') }}"></script>
    <script>
      // Add an event listener to toggle the dropdown visibility
      document
        .getElementById("viewAccountBtn")
        .addEventListener("click", function () {
          const dropdown = document.getElementById("accountDropdown");
          dropdown.style.display =
            dropdown.style.display === "none" ? "block" : "none";
        });
    </script>
  </body>
</html>
