<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Home{%endblock%}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <nav>
          <div>
            <a href="/" class="logo">Omnio</a>
          </div>
          <div>
            <a href="/models">Models</a>
            <a
              href="/about"
              class="{% if current_path == '/about' %}selected-page{% endif %}"
              >About</a
            >
          </div>
        </nav>
        <div class="login-section">
          <a href="/models" id="connectMetaMask">
            <button class="btn">Connect Wallet</button>
          </a>
        </div>
      </div>
    </header>
    <div>{% block content%} {%endblock%}</div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
