{%extends 'base.html'%} {%block title%}AI Models{%endblock%} {%block content%}
<p>
  Once the user has successfully connected their MetaMask Wallet, they will be
  directed to this page
</p>
<h2>Contribute to AI Models</h2>
<p>
  If you have data which could improve other AI models, contribute to it and if
  your data corresponds to an improvement in the current model, the model will
  be updated. For each request of the model, you will be rewarded according to
  your data contribution to the model.
</p>
<div class="models-wrapper">
  <div>
    <a href="/mnist" class="model-containers">
      <div>
        <strong class="model-title">MNIST Dataset</strong>
        <p><em>Classification</em></p>
        <p>
          The MNIST dataset is a large collection of handwritten digits widely
          used for training and testing.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
  <div>
    <a href="/models" class="model-containers">
      <strong class="model-title">Model to be added</strong>
      <p>Due to early stages, other models are still yet to be developed</p>
    </a>
  </div>
</div>

{%endblock%}
